**/jobsCb.api.js
**/feature.list.js
**/url.routes.js
**/rolemap.api.js
node_modules
*~
*.swp
*.swo
web-third-party

# webroot/js/handlers/MenuHander generates those
webroot/menu_*

webroot/assets/*
webroot/font/*
webroot/js/common/contrail.unified.*
webroot/build/core.build.config.js
webroot/css/contrail-all.css
webroot/js/config_global.js
webroot/js/uuid.js
webroot/css/select2*
dump.rdb
config/config.global.js
