**/jobsCb.api.js
**/feature.list.js
**/url.routes.js
**/rolemap.api.js
node_modules
*~
*.swp
*.swo
webroot/assets/*
webroot/font/*
webroot/js/common/contrail.unified.*
web-third-party
webroot/build/core.build.config.js
webroot/css/contrail-all.css
dump.rdb
