@font-face {
    font-family: 'contrailFonts';
    src:url('fonts/contrailFonts.eot?gnt02s');
    src:url('fonts/contrailFonts.eot?#iefixgnt02s') format('embedded-opentype'),
    url('fonts/contrailFonts.ttf?gnt02s') format('truetype'),
    url('fonts/contrailFonts.woff?gnt02s') format('woff'),
    url('fonts/contrailFonts.svg?gnt02s#contrailFonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-contrail-"], [class*=" icon-contrail-"] {
    font-family: 'contrailFonts';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-contrail-virtual-machine-left:before {
    content: "\e604";
}
.icon-contrail-virtual-machine-right:before {
    content: "\e605";
}
.icon-contrail-virtual-machine-top:before {
    content: "\e61b";
}
.icon-contrail-virtual-machine-bottom:before {
    content: "\e61c";
}
.icon-contrail-analytics-db:before {
    content: "\e600";
}
.icon-contrail-config-db:before {
    content: "\e601";
}
.icon-contrail-contrail-core:before {
    content: "\e602";
}
.icon-contrail-virtual-machine:before {
    content: "\e603";
}
.icon-contrail-virtual-network:before {
    content: "\e606";
}
.icon-contrail-network-ipam:before {
    content: "\e607";
}
.icon-contrail-analytics-node:before {
    content: "\e608";
}
.icon-contrail-compute-node:before {
    content: "\e609";
}
.icon-contrail-config-node:before {
    content: "\e60a";
}
.icon-contrail-control-node:before {
    content: "\e60b";
}
.icon-contrail-switch:before {
    content: "\e60c";
}
.icon-contrail-db-node:before {
    content: "\e60d";
}
.icon-contrail-virtual-firewall:before {
    content: "\e60e";
}
.icon-contrail-nat:before {
    content: "\e60f";
}
.icon-contrail-openstack-node:before {
    content: "\e610";
}
.icon-contrail-system-stats:before {
    content: "\e611";
}
.icon-contrail-virtual-router:before {
    content: "\e612";
}
.icon-contrail-webui-node:before {
    content: "\e613";
}
.icon-contrail-system-logs:before {
    content: "\e614";
}
.icon-contrail-project:before {
    content: "\e615";
}
.icon-contrail-router:before {
    content: "\e616";
}
.icon-contrail-network-policy:before {
    content: "\e617";
}
.icon-contrail-security-group:before {
    content: "\e618";
}
.icon-contrail-reverse-flow:before {
    content: "\e619";
}
.icon-contrail-trace-flow:before {
    content: "\e61a";
}
.icon-contrail-line-card:before {
    content: "\61";
}
.icon-contrail-switch-card:before {
    content: "\62";
}
.icon-contrail-routing-engine:before {
    content: "\63";
}
.icon-contrail-pf-engine:before {
    content: "\64";
}
.icon-contrail-fabrics:before {
    content: "\65";
}
.icon-contrail-power-supply:before {
    content: "\66";
}
.icon-contrail-fan-tray:before {
    content: "\67";
}
.icon-contrail-coreswitch:before {
    content: "\b700";
}

@font-face {
    font-family: 'contrail-core';
    src:url('/css/fonts/contrail-core.eot?e1umid');
    src:url('/css/fonts/contrail-core.eot?#iefixe1umid') format('embedded-opentype'),
    url('/css/fonts/contrail-core.woff?e1umid') format('woff'),
    url('/css/fonts/contrail-core.ttf?e1umid') format('truetype'),
    url('/css/fonts/contrail-core.svg?e1umid#contrail-core') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-contrail-core"], [class*=" icon-contrail-core"] {
    font-family: 'contrail-core';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-contrail-coreswitch:before {
    content: "\b700";
}
.icon-contrail-spine:before {
    content: "\e601";
}
.icon-contrail-tor:before {
    content: "\e601";
}
.icon-contrail-vrouter:before {
    content: url(/img/vrouter.png);
}

/* icon class helpers */
.icon-rotate-45:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

@font-face {
    font-family: 'mxfont';
    src:url('fonts/mxfont.eot?-o5tdj9');
    src:url('fonts/mxfont.eot?#iefix-o5tdj9') format('embedded-opentype'),
        url('fonts/mxfont.ttf?-o5tdj9') format('truetype'),
        url('fonts/mxfont.woff?-o5tdj9') format('woff'),
        url('fonts/mxfont.svg?-o5tdj9#mxfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="mxicon"], [class*=" mxicon"] {
    font-family: 'mxfont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mxicon-power-supply:before {
    content: "\e600";
}
.mxicon-fan-tray:before {
    content: "\e601";
    }
.mxicon-line-card:before {
    content: "\e602";
    font-size:150%;
}
.mxicon-routing-engine:before {
    content: "\e603";
    font-size:150%;
}
.mxicon-switch-card:before {
    content: "\e604";
    font-size:150%;
}
.mxicon-fabrics:before {
    content: "\e605";
    font-size:150%;
}
.mxicon-fabrics-horiz:before {
    content: "\e606";
    font-size:150%;
}
.mxicon-packet-forwarding:before {
    content: "\e607";
}
