@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../../assets/fonts-opensans/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../../assets/fonts-opensans/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../../assets/fonts-opensans/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../../assets/fonts-opensans/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../../assets/fonts-opensans/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(../../assets/fonts-opensans/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../../assets/fonts-opensans/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(../../assets/fonts-opensans/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../../assets/fonts-opensans/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(../../assets/fonts-opensans/PRmiXeptR36kaC0GEAetxsBo4hlZyBvkZICS3KpNonM.woff) format('woff');
}

.navbar-header {
  padding: 5px;
  height: 45px;
}
img.logo {
  height: 40px;
}
#user_info, #alert_info {
  max-width: 100px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  line-height: 15px;
  position: relative;
  padding: 13px 0;
  color:#555;
}
#sidebar-shortcuts-large .btn:hover {
  margin-top: 2px;
}
#sidebar-shortcuts-large .btn.active {
  border-bottom: 3px solid #333;
  margin-top: 2px;
}
#sidebar-shortcuts-large .btn:focus {
  outline: none;
}

.btn-monitor, .btn-monitor:hover {
  background-color: #599AC9 !important;
  border-color: #599AC9;
}

.btn-configure, .btn-configure:hover {
  background-color: #e48782 !important;
  border-color: #e48782;
}

.btn-setting, .btn-setting:hover {
  background-color: #7dc48a !important;
  border-color: #7dc48a;
}

.btn {
    display: inline-block;
    color: #FFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-image: none !important;
    border: 5px solid #FFF;
    border-radius: 0;
    box-shadow: none !important;
    -webkit-transition: background-color 0.15s, border-color 0.15s, opacity 0.15s;
    -o-transition: background-color 0.15s, border-color 0.15s, opacity 0.15s;
    transition: background-color 0.15s, border-color 0.15s, opacity 0.15s;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    position: relative;
 }

.btn-query, .btn-query:hover, .btn-query:active, .btn-query:focus  {
  background-color: #c79dcd !important;
  border-color: #c79dcd;
}

.btn-mini {
  padding: 0 5px;
  line-height: 22px;
  border-width: 2px;
  font-size: 12px;
}

.btn, .btn-default, .btn:hover, .btn-default:hover {
  background-color: #898989 !important;
  border-color: #898989;
}

.btn-primary {
  background-color: #599AC9 !important;
  border-color: #599AC9 !important;
}

.btn-monitor, .btn-monitor:hover {
  background-color: #599AC9 !important;
  border-color: #599AC9;
}

.btn-configure, .btn-configure:hover {
  background-color: #e48782 !important;
  border-color: #e48782;
}

.btn-setting, .btn-setting:hover {
  background-color: #7dc48a !important;
  border-color: #7dc48a;
}

.btn-query, .btn-query:hover {
  background-color: #c79dcd !important;
  border-color: #c79dcd;
}

#sidebar {
  border-right: 1px solid #cccccc;
}

.ace-nav > li > a > [class*="fa-"] {
  font-size: 16px;
  color: #555;
  display: inline-block;
  width: 20px;
  text-align: center;
}

.widget-header > :first-child {
  line-height: 33px;
  padding: 0;
  margin: 0;
  float: left;
  text-align: left;
}

.widget-toolbar:last-child:before {
  border-right: none;
}

.widget-header > :first-child > [class*="icon-"] {
  margin-right: 6px;
  font-weight: normal;
  font-size: 110%;
  display: inline-block;
}

#sidebar-collapse > [class*="fa-"] {
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  color: #aaaaaa;
  /* border: 1px solid #bbbbbb; */
  padding: 0 5px;
  line-height: 18px;
  position: relative;
}

pre {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  font-size: 11px;
  padding: 2px;
  margin: 0;
  border: none;
}
.key-value {
  display: block;
}

.string {
  color: #2ca02c;
}

.customHide {
  display :none;
}

input[type="text"]:focus {
  border-color: #D5D5D5;
}

.input-group-addon {
  background-color: #FFF;
}

#nav-search-icon {
  color: #599AC9;
  font-size: 14px;
  line-height: 24px;
  cursor: default;
}

#grid-search-icon {
  font-size: 14px;
  line-height: 35px;
}

#sidebar-collapse {
  position: absolute;
  right: -2px;
  margin: 1px 0;
  text-align: right;
  padding: 3px 0;
}

.nav-list > li {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  border-top: 1px solid #FCFCFC;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
  background-color: #fff;
}

.nav-list > li.active > a, .nav-list > li.active > a:hover, .nav-list > li.active > a:focus, .nav-list > li.active > a:active {
  background-color: #ffffff;
  color: #3182bd;
}

#main-content {
 /* margin-left: 183px;
  margin-right: 0;
  margin-top: 0;
  min-height: 100%;
  /* border-top: 1px solid #e5e5e5;
  padding: 0;*/
}

.sidebar + .main-content {
  margin-left: 190px;
}

.main-content {
  margin-left: 0;
  min-height: 100%;
  padding: 0;
}

#breadcrumbs.fixed {
  position: fixed;
  left: 183px;
  right: 0;
}

#breadcrumbs {
  position: relative;
  z-index: 13;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  min-height: 40px;
  line-height: 39px;
  padding: 0 12px 0 0;
  display: block;
}

#page-content {
  /*background: #ffffff;
  margin: 0;
  padding: 43px 10px 27px;*/
}

.margin-0-0-5 {
  margin: 0 0 5px !important;
}

.margin-5-10-0-0 {
  margin: 5px 10px 0 0 !important;
}

.form-label {
  margin-left: -30px;
}

.display-inline-block {
  display: inline-block;
}

#back-to-top {
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: #898989;
  background-color: #fff;
  font-size: 11px;
  padding: 5px 10px;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, .2);
}

.content-container-not-found {
  text-align: center;
  margin: 50px auto;
  color: #555;
}

.content-container-not-found .not-found-icon {
  font-size: 40px;
  color: #3182bd;
}

.blue-grid-sparkline {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
  height: 15px;
  width: inherit;
}
