<!--
 Copyright (c) 2014 Juniper Networks, Inc. All rights reserved.
-->

<script type="text/x-handlebars-template" id="menu-shortcuts">
            <div id="sidebar-shortcuts-large">
                {{#each this}}
                    {{#IfCompare this.cssClass 'disabledBtn' operator='!='}}
                        <button id="btn-{{this.id}}" class="btn btn-small {{this.cssClass}}" title="{{this.label}}" onclick="menuHandler.toggleMenuButton('{{this.id}}');">
                    {{else}}
                        <button id="btn-{{this.id}}" class="btn btn-small {{this.cssClass}}" title="{{this.label}}" onclick="menuHandler.toggleMenuButton('{{this.id}}');" disabled>
                    {{/IfCompare}}    
                            <i class="{{this.iconClass}} icon-large"></i>
                    </button>
                {{/each}}
            </div>

            <div id="sidebar-shortcuts-mini">
                {{#each this}}
                    <span class="btn btn-{{this.id}}"></span>
                {{/each}}
            </div>
</script>

<script type="text/x-handlebars-template" id="menu-template">
    <li class="head">
        <a data-link='{{#getHashFromMenuItem this}}{{/getHashFromMenuItem}}'>
            <span>{{this.label}}</span>
            <span id="sidebar-collapse" class="pull-right" onclick="onClickSidebarCollapse();">
                <i class="icon-chevron-left"></i>
            </span>
        </a>
    </li>
    {{#each this.items.item}}
        <li class="item">
            <a href='{{#getHashFromMenuItem this}}{{/getHashFromMenuItem}}' data-link='{{#getHashFromMenuItem this}}{{/getHashFromMenuItem}}'>
                <i class="{{this.iconClass}}"></i>
                <span>{{this.label}}</span>
            </a>
            <ul class="submenu">
                {{#IfCompare this.items null operator='!='}}
                    {{#each this.items.item}}
                        <li id="{{this.hash}}">
                            <a href='{{#getHashFromMenuItem this}}{{/getHashFromMenuItem}}'>
                                {{this.label}}
                            </a>
                        </li>
                   {{/each}}
                {{/IfCompare}}
                {{#IfCompare this.items null operator='=='}}
                    <li id="{{this.hash}}">
                        <a href='{{#getHashFromMenuItem this}}{{/getHashFromMenuItem}}'>
                             {{this.label}}
                        </a>
                    </li>
                {{/IfCompare}}
            </ul>
        </li>
    {{/each}}
</script>
<script type="text/x-handlebars-template" id="current-breadcrumb">
 {{#each this}}
   {{#if @last}}
      <li class="active">
          <a href={{href}}>{{link}}</a>
      </li>
   {{else}}
      <li>
          <a href={{href}}>{{link}}</a>
          <span class="divider"><i class="icon-angle-right"></i></span>
      </li>
   {{/if}}
 {{/each}}
</script>

<script type="text/x-handlebars-template" id="dashboard-template">
    <div class="row-fluid">
        <div id="dashboard-box" class="widget-box transparent">
            {{#IfCompare noTitle null operator="=="}}
                <div class="widget-header">
                    <h4 class="smaller">
                        {{#if widgetBoxId}}
                            <i id="{{widgetBoxId}}-loading" class="icon-spinner icon-spin blue bigger-125" style="display:none"></i>
                        {{/if}}
                        {{#if title}}
                            {{title}}
                        {{else}}
                            Information
                        {{/if}}
                    </h4>
                    <div class="widget-toolbar pull-right">
                        <a  data-action="collapse">
                            <i class="icon-chevron-up"></i>
                        </a>
                    </div>
                    {{#if showSettings}}
                        <div class="widget-toolbar pull-right">
                            <a data-action="settings" data-toggle="dropdown">
                                <i class="icon-cog"></i>
                            </a>
                            <ul class="pull-right dropdown-menu dropdown-caret dropdown-closer">
                                <li>
                                    <a onclick="showBasicDetails();">
                                        <i class="icon-list"></i> &nbsp; Basic view
                                    </a>
                                </li>
                                <li>
                                    <a onclick="showAdvancedDetails();">
                                        <i class="icon-code"></i> &nbsp; Advanced view
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {{/if}}
                </div>
            {{/IfCompare}}
            <div class="widget-body">
            </div><!--/widget-body-->
        </div><!--/widget-box-->
    </div><!--/row-->
</script>

<script type="text/x-handlebars-template" id="no-data">
    <div class='no-data-text'>No Statistics available for this duration</div>
</script>

<script type="text/x-handlebars-template" id="title-lblval-tooltip-template">
    <div class="row-fluid chart-tooltip" style="width:250px;">
        {{#each this}}
            {{#IfCompare @index 0}}
                <div class="row-fluid chart-tooltip-title">
                    <p>{{value}}</p>
                </div>
            <div class="row-fluid chart-tooltip-body ">
            {{else}}
                {{#IfCompare true options.noLabelColon}}
                    <div class="row-fluid chart-tooltip-row" >
                        <span class="key span4" style="min-height:20px;">{{label}}</span>
                        <span class="value span8" style="min-height:20px;">{{value}}</span>
                    </div>
                {{else}}
                    <div class="row-fluid chart-tooltip-row" >
                        <span class="key span4" style="min-height:20px;">{{label}}:</span>
                        <span class="value span8" style="min-height:20px;">{{value}}</span>
                    </div>
                {{/IfCompare}}
            {{/IfCompare}}
        {{/each}}
    </div>
    </div>
</script>

<!-- To be removed later-->
<script type="text/x-handlebars-template" id="title-lblval-tooltip-template-new">
    <div class="row-fluid chart-tooltip" style="width:250px;">
        {{#each this}}
            {{#IfCompare @index 0}}
                <div class="row-fluid chart-tooltip-title">
                    <p>{{value}}</p>
                </div>
            <div class="row-fluid chart-tooltip-body ">
            {{else}}
                <div class="row-fluid chart-tooltip-row" >
                    <span class="key {{keyClass}}" style="min-height:20px;">{{label}}:</span>
                    <span class="value {{valueClass}}" style="min-height:20px;">{{value}}</span>
                </div>
            {{/IfCompare}}
        {{/each}}
    </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="overlapped-bubble-tooltip">
<div id="overlapped-bubble-wrapper" class="enabledPointer">
     <div class="row-fluid" >
        <div class="left-arrow-wrapper">
            <div class="left-arrow">
                <i class="icon-chevron-left" style="font-size: 20px;"></i>
            </div>
        </div>
        <div class="tooltip-wrapper">
          {{#each content}}
              {{> scatterTooltip}}
          {{/each}}
        </div>
        <div class="right-arrow-wrapper">
            <div class="close-button">
                <button type="button" id="overlapClosebutton" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
            </div>
            <div class="right-arrow">
                <i class="icon-chevron-right" style="font-size: 20px;"></i>
            </div>
        </div>
     </div>
     <div class="row-fluid pagecount">
        <span class="pull-right">{{pagestr}}</span>
    </div>
</div>
</script>

<script type="text/x-handlebars-template" id="overlapped-bubble-tooltip-new">
    <div id="overlapped-bubble-wrapper" class="enabledPointer">
        <div class="row-fluid" >
            <div class="left-arrow-wrapper">
                <div class="left-arrow">
                    <i class="icon-chevron-left" style="font-size: 20px;"></i>
                </div>
            </div>
            <div class="tooltip-wrapper">
                {{#each content}}
                    {{> scatterTooltipNew}}
                {{/each}}
            </div>
            <div class="right-arrow-wrapper">
                <div class="close-button">
                    <button type="button" id="overlapClosebutton" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                </div>
                <div class="right-arrow">
                    <i class="icon-chevron-right" style="font-size: 20px;"></i>
                </div>
            </div>
        </div>
        <div class="row-fluid pagecount">
            <span class="pull-right">{{pagestr}}</span>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="title-lblval-tooltip-template_new">
<div class="row-fluid chart-tooltip">
 {{#each this}}
    {{#IfCompare @index 0 }}
        <div class="row-fluid chart-tooltip-title">
            <p>{{value}}</p>
        </div>
    {{/IfCompare}}
    {{#IfCompare @index 0 operator='!='}}
    <div class="row-fluid chart-tooltip-body ">
        <div class="row-fluid chart-tooltip-row">
            {{#IfCompare label '' operator='!='}}
            <span class="key">{{label}}:</span>
            {{/IfCompare}}
            <span class="value">{{value}}</span>
        </div>
    </div>
    {{/IfCompare}}
 {{/each}}   
</div>
</script>

<script type="text/x-handlebars-template" id="sparkline-template">
    <div id={{id}} class="infobox infobox-blue infobox-dynamic">
        <div class="infobox-chart">
            <span class="sparkline"></span>
        </div>

        <div class="infobox-data">
            <span class="infobox-data-number">{{totalCnt}}</span>
            <div class="infobox-content">{{title}}</div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="lblval-tooltip-template">
<div class="row-fluid chart-tooltip">
    <div class="row-fluid chart-tooltip-body ">
     {{#each this}}
         <div class="row-fluid chart-tooltip-row">
             <span class="key">{{label}}</span>
             <span class="value"> {{value}}</span>
         </div>
       {{/each}} 
    </div>
</div>
</script>

<script type="text/x-handlebars-template" id="element-tooltip-template">
    <div class="popover popover-tooltip{{#IfCompare content.iconClass false operator='=='}} popover-tooltip-no-icon {{/IfCompare}}"
         style="display: block; min-width: {{dimension.width}}px; max-width: {{dimension.width}}px;">
        <h3 class="popover-title"></h3>
        <div class="popover-content"></div>
    </div>
</script>

<script type="text/x-handlebars-template" id="element-tooltip-title-template">
    <p class="heading">{{#handleIfNull name '-'}}{{/handleIfNull}}</p>
    <p class="sub-heading">{{type}}</p>
</script>

<script type="text/x-handlebars-template" id="element-tooltip-content-template">
    <div class="popover-remove">
        <i class="icon-remove pull-right popover-remove-icon"></i>
    </div>
    <div class="popover-tooltip-icon font-element">
        <i class="{{iconClass}}"></i>
    </div>
    <div class="popover-info">
        <div class="row-fluid">
        {{#each info}}
            <div class="row-fluid popover-tooltip-row {{#if dividerClass}} {{dividerClass}} {{/if}}">
                <span class="key">{{label}} </span>
                <span class="value">{{value}}</span>
             </div>
        {{/each}}
        </div>
    </div>
    {{#if actions}}
    <div class="row-fluid popover-tooltip-footer">
        {{#each actions}}
        <button class="btn btn-mini pull-right" data-action="{{@index}}"><i class="{{iconClass}}"></i> {{text}} </button>
        {{/each}}
    </div>
    {{/if}}
</script>

<!--
    Start:Dashboard templates
-->

<script type="text/x-handlebars-template" id="infoList-template">
    <ul class="item-list">
        {{#each this}}
            <li>
                <label class="inline">
                    <span class="key"> {{lbl}} </span>
                    <span class="value"> {{value}} </span>
                </label>
            </li>
        {{/each}}
    </ul>
</script>
<script type="text/x-handlebars-template" id="logList-template">
    <ul class="item-list">
        {{#each this}}
            <div class="itemdiv commentdiv infobox-blue">
                <div class="body">
                    <div class="row-fluid">
                        <div class="name span9 break-and-wrap-word">
                            <span class="hyperlink" onclick=javascript:layoutHandler.setURLHashObj({{#jsonStringify link}}{{/jsonStringify}})> {{moduleId}} </span>
                            </div>
                            <div class="time span3">
                                <i class="icon-time" style="cursor:default"></i>
                                <span class="green"> {{timeStr}} </span>
                            </div>
                        </div>
                        <div class="text"> {{message}} </div>
                    </div>
                </div>
        {{else}}
            <p>No Logs found.</p>
        {{/each}}
    </ul>
</script>

<script type="text/x-handlebars-template" id="alerts-template">
    <ul class="item-list">
        {{#each this}}
            <div class="itemdiv commentdiv infobox-blue">
                <div class="body">
                    {{#typeof timeStamp "string"}}
                        <div class="text break-and-wrap-word" style="width:75%">
                    {{/typeof}}
                    {{#IfCompare timeStamp null operator="=="}}
                        <div class="text break-and-wrap-word">
                    {{/IfCompare}}
                    {{#IfCompare name null operator="=="}}
                         {{msg}}</div>                        
                    {{else}}
                        {{#IfCompare link null operator="!="}}
                            <span class="hyperlink" onclick=javascript:layoutHandler.setURLHashObj({{#jsonStringify link}}{{/jsonStringify}})>{{name}}</span> , {{type}} , {{msg}}</div>
                        {{else}}
                             {{name}} , {{type}} , {{msg}}</div>
                        {{/IfCompare}}
                    {{/IfCompare}}
                    {{#typeof timeStamp "string"}}
                        <div class="time" style="width:90px">
                            <i class="icon-time"></i>
                            <span> {{#getRelativeTime timeStamp}}{{/getRelativeTime}} </span>
                        </div>
                    {{/typeof}}
                </div>
            </div>
            {{else}}
                <p>No Alerts found.</p>
        {{/each}}
        {{#IfCompare this.length 0 operator=">"}}
            <div id="moreAlertsLink" style="cursor:pointer;margin-left:5px"><a>More</a></div>
        {{/IfCompare}}
    </ul>
</script>

<script type="text/x-handlebars-template" id="moreAlerts-template">
<div id="moreAlerts" class="modal modal-840 hide">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
        <h6 class="modal-header-title">Alerts</h6>
     </div>
     <div class="modal-body">
       <div id="alertContent"></div>
     </div>
      <div class="modal-footer">
         <button id="alertsClose" class="btn btn-primary btn-mini" data-dismiss="modal" aria-hidden="true">Close</button>
      </div> 
     </div>
</div>
</script>

<script type="text/x-handlebars-template" id="infobox-template">
    <div id="{{id}}" class="infobox infobox-grey">
        <div class="infobox-icon">
            <i class="icon-sitemap"></i>
        </div>
        {{#if totalCntField}} 
            <div class="infobox-data">
                <span class="infobox-data-number" data-bind='text:{{totalCntField}}'>&nbsp;</span>
            </div>
            {{!--<div class="stat stat-success" data-bind='text:{{activeCntField}}'>&nbsp;</div>--}}
            <div class="stat stat-important" style="display:none" data-bind='text:{{inactiveCntField}}'>&nbsp;</div>
        {{else}}
            <div class="infobox-data">
                <span class="infobox-data-number">{{totalCnt}}</span>
            </div>
            <div class="stat stat-success">{{activeCnt}}</div>
            <div class="stat stat-important">{{inactiveCnt}}</div>
        {{/if}}
        <div class="infobox-content">{{title}}</div>
    </div>
</script>

<script type="text/x-handlebars-template" id="infra-dashboard">
    <div class="row-fluid">
        <div class="row-fluid">
            <div id='topStats' class="span12 infobox-container"></div>
        </div>
        <hr class="hr-8"/>
        <div id="dashboard-charts" class="row-fluid">
        </div> 
        
        <hr />

        <div id="dashboard-stats" class="row-fluid">
            <div class="span4">
                <div id="logs-box" class="widget-box transparent">
                    <div class="widget-header"></div>
                    <div class="widget-body">
                        <div class="widget-main padding-4">
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div id="sysinfo-box" class="widget-box transparent">
                    <div class="widget-header"></div>
                    <div class="widget-body">
                        <div id="system-info-stat" class="widget-main">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div id="alerts-box" class="widget-box transparent">
                    <div class="widget-header"></div>
                    <div class="widget-body">
                        <div id="alerts-box-content" class="widget-main padding-4">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<!--
    End:Dashboard templates
-->
<script type="text/x-handlebars-template" id="widget-header-template">
        <h4 class="smaller">
            {{#if widgetBoxId}}
                <i id="{{widgetBoxId}}-loading" class="icon-spinner icon-spin blue bigger-125" style="display:none"></i> 
            {{/if}}
            <span>{{title}}</span>
        </h4>

        <div class="widget-toolbar pull-right">
            <a data-action="collapse">
                <i class="icon-chevron-up"></i>
            </a>
        </div>
</script>
<script type="text/x-handlebars-template" id="gridsTemplateJSONDetails">
    <div>
        <div class="row-fluid">
            <div class="row-fluid">
                <label>Details :</label>
            </div>
            <div class="row-fluid">
                <div><pre>{{{displayJson raw_json}}}</pre></div>
            </div>
        </div>
   </div>
</script>
<script type="text/x-handlebars-template" id = "overallNodeStatusTemplate">
    <div id = "overallNodeStatus">
        <div id = "allItems" class="hide">
            {{#each this.result}}
                <p style="margin: 0 0 0 0">
                    {{#IfCompare sevLevel null operator='!='}}
                        {{#renderStatusTemplate sevLevel}}{{/renderStatusTemplate}}
                    {{/IfCompare}}
                    {{msg}}
                </p>
            {{/each}}
            <span class="hyperlink" onclick="toggleOverallNodeStatus(['#allItems','#defaultItems']);"> hide</span>
        </div>
        {{#IfCompare this.showMore true}}
            <div id = "defaultItems">
                {{#each this.result}}
                    <p style="margin: 0 0 0 0">
                        {{#IfCompare @index ../defaultItems operator='<'}}
                            {{#IfCompare sevLevel null operator='!='}}
                                {{#renderStatusTemplate sevLevel}}{{/renderStatusTemplate}}
                            {{/IfCompare}}
                            {{msg}}
                        {{/IfCompare}}
                    </p>
                {{/each}}  
                {{#IfCompare this.result.length this.defaultItems operator='>'}}
                    <span class="hyperlink" onclick="toggleOverallNodeStatus(['#allItems','#defaultItems']);"> {{#ArthematicOps this.result.length this.defaultItems operator='-'}}
                    {{/ArthematicOps}} more</span>
               {{/IfCompare}}
            </div>
        {{/IfCompare}}
    </div>
</script>

<script type = "text/x-handlebars-template" id = "statusTemplate">
    {{#IfCompare sevLevel sevLevels.ERROR }} 
        <span class="status-badge-rounded-small status-inactive"></span>
    {{else}}
    {{#IfCompare sevLevel sevLevels.WARNING}} 
        <span class="status-badge-rounded-small status-partially-active"></span>
    {{/IfCompare}}
    {{/IfCompare}}
</script>

<script type="text/x-handlebars-template" id="dashboard-body-template">
    <div class="widget-main row-fluid">
            {{#IfCompare showSettings true options='=='}}
                <div id="divAdvanced" class="row-fluid hide">
                    <div><pre>{{{displayJson nodeData}}}</pre></div>
                </div>
            {{/IfCompare}}
            <div id="divBasic" class="row-fluid">
                <ul id="detail-columns" class="item-list">
                    {{#each d}}
                        {{#if this}}
                            <li>
                                <label class="inline row-fluid">
                                    <div class="key span5">{{{this.lbl}}}</div>
                                    <div class="value span7"> 
                                        {{#if this.value}}
                                            {{{this.value}}}
                                        {{else}}
                                            {{#IfCompare this.value '0' options='=='}}
                                                0
                                            {{else}}
                                                --
                                            {{/IfCompare}}
                                        {{/if}}
                                    </div>
                                </label>
                            </li>
                        {{/if}}
                    {{/each}} <!-- /each d -->
                </ul>   
            </div><!--/span-->
            <div id="divStatus" hidden="true" class="row-fluid">
                <div id="divContrailStatus" class="row-fluid"></div>
                <!-- <div class="row-fluid">
                    <label class="span3">Opentstack Status</label><i id="icon_divOpenStackStatus" class="icon-expand-alt" onclick="toggleDetails('divOpenStackStatus');"></i>
                </div>
                <div id="divOpenStackStatus" hidden="true" class="widget-main padding-4" class="row-fluid"></div>
                -->
            </div>
    </div><!-- /widget-main --> 
</script>

<script type="text/x-handlebars-template" id="checked-multiselect-optgroup-template">
    <select multiple="multiple" size="5" class="row-fluid">
        {{#each data}}
            <optgroup label="{{text}}" data-value={{id}}>
                {{#each children}}
                    <option value="{%22parent%22:%22{{../id}}%22,%22value%22:%22{{id}}%22}" {{#IfCompare selected true operator='==' }}selected="true"{{/IfCompare}}>{{text}}</option>
                {{/each}}
            </optgroup> 
        {{/each}}
    </select>
</script>

<script type="text/x-handlebars-template" id="tooltip-content-template">
    <div class="row-fluid chart-tooltip">
        <div class="row-fluid chart-tooltip-body ">
            {{#each this}}
                <div class="row-fluid chart-tooltip-row">
                    <span class="key span4" style="min-height:20px;">{{lbl}}:</span>
                    <span class="value span8" style="min-height:20px;">{{value}}</span>
                </div>
            {{/each}}
        </div>
    </div>
</script>
<script type="text/x-handlebars-template" id="color-selection">
    <div class="color-selection" style="float:right;margin-right:20px">
        <div data-color="red" class="circle red filled"></div>
        <div data-color="orange" class="circle orange filled"></div>
        <div data-color="green" class="circle green filled"></div>
        <div data-color="blue" class="circle blue filled"></div>
    </div>
</script>
<script type="text/x-handlebars-template" id="chart-settings">
    <div class="chart-settings">
        <div class="chart-settings-wrapper hide">
            <div class="chart-settings-expand">
                 
                <div id="chart-settings-header" class='chart-settings-header'>
                    <label style="display:inline-block">Options</label>
                    <i class="icon-chevron-up"></i>
                </div>
                <div style="margin-left:10px;">
                    <div class="color-selection">
                        <label>Severity :</label>
                        <div class="circle red filled"></div>
                        <div class="circle blue filled"></div>
                        <div class="circle orange filled"></div>
                        <div class="circle green filled"></div>
                    </div>
                    <div class="axis-params">
                        {{# each this}}
                            <div style="padding-top: 5px;">
                                <div style="display:inline-block;">
                                     <label style="margin-bottom:0px;display:inline-block;font-size:11px;">{{this.lbl}} : </label><div id="{{this.id}}" style="font-size:11px;"></div>
                                </div>
                                <div style="display:inline-block;">
                                    <div id="{{this.id}}_crossfilter" class="chart" style="width:320px;">
                                        <div class="title">
                                            <span class="reset" style="display: none;">reset</span>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        {{/each}}
                    </div>
                    <div>
                        <label class="chart-settings-label">Bucketize&nbsp;</label><input id="checkbox-bucketize"  type="checkbox" name="bucketize" value="bucketize" style="margin:0;"/>
                        <div id="div-bucket-options" class="chart-sub-settings">
                            <button class="btnBucketSettingsApply btn btn-primary btn-minier">Apply</button> 
                        </div>
                   </div>
               </div>
            </div>
            <!-- <div style="background-color: white;margin-left: 70px; margin-right: 20px;" class="upArrow">
                <img src="/img/upArrow.png"></img>
            </div> -->
        </div>
        <div class = "chart-settings-hide upArrow">
            <div class="chart-settings-reset">
              <!--  <div class="color-filter-settings-reset">
                    <label class="chart-settings-label hyperlink-active">Severity Filter</label>
                    <a href="#" id="chart-settings-severity-filter-remove" class="chart-settings-close" tabindex="-1">x</a>
                </div> -->
                <div class="bucketize-reset">
                    <label class="chart-settings-label">Bucketize</label>
                    <a href="#" id="chart-settings-bucketization-remove" class="chart-settings-close" tabindex="-1">x</a>
                </div> 
                <!--  <div class="dynamic-axis-settings-reset">
                    <label hyperlink-active>Dynamic Axis</label>
                    <a href="#" class="select2-search-choice-close" tabindex="-1"></a>
                </div> 
                <div class="all-reset">
                    <label class="chart-settings-label">Reset All</label>
                    <a href="#" class="chart-settings-close" tabindex="-1"></a>
                </div> -->
            </div>
            <label class="chart-settings-label hyperlink-active position-right chart-setting-options underline" >Options</label> 
           <!-- <label class="chart-settings-label hyperlink-active position-right chart-setting-options underline" id="zommout">Zoom Out</label> --> 
            <!-- <i class="icon-gear position-right"></i> -->
        </div>
      <!-- <div class="chart-settings-hide">
            <img src="/img/downArrow.png"></img>
       </div> -->
    </div>
</div>
</script>

<script type="text/x-handlebars-template" id="chart-footer">
    <div>
        <label class="chart-settings-label position-right">Bucketize&nbsp;</label>
    </div>
</script>

<!-- View Templates -->

<script type="text/x-handlebars-template" id="core-edit-form-template">
    <div class="alert alert-error" data-bind="visible: errors().{{prefixId}}_form_error">
        <strong>Error: </strong>
        <span data-bind="text: errors().{{prefixId}}_form_error"></span>
    </div>
    <form name="{{prefixId}}Form" id="{{prefixId}}-form" onsubmit="return false;" class="">
    </form>
</script>

<script type="text/x-handlebars-template" id="core-accordian-view-template">
    <div id="{{elementId}}">
        {{#each viewConfig}}
        {{#if this.title}}
        <h3>{{this.title}} <span class="red pull-right" data-bind="visible: errors().{{this.elementId}}_error()"> <i class="icon-warning-sign red"></i></span></h3>
        {{/if}}
        <div id="{{this.elementId}}">
        </div>
        {{/each}}
    </div>
</script>

<script type="text/x-handlebars-template" id="core-section-view-template">
    {{#if this.title}}
    <h5 class="margin-0-0-10">{{this.title}}</h5>
    {{/if}}
    {{#each rows}}
    <div class="section-content">
        <div class="row-fluid margin-0-0-5">
            {{#each this.columns}}
            <div id="{{this.elementId}}" data-bind="visible: {{this.visible}}"  class="{{this.viewConfig.class}}"></div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</script>

<script type="text/x-handlebars-template" id="core-wizard-view-template">
    <div id="{{elementId}}">
        {{#each viewConfig.steps}}
        <h2>{{this.title}}</h2>
        <section>
            <div class="alert alert-error" data-bind="visible: errors().{{this.elementId}}_form_error">
                <button type="button" class="close" data-dismiss="alert"></button>
                <strong>Error: </strong>
                <span data-bind="text: errors().{{this.elementId}}_form_error"></span>
            </div>
            <div id="{{this.elementId}}"></div>
            <div class="stepInfo row-fluid hide">
                <p class="span12">Selected Servers: <span class="selectedServerCount">None</span></p>
            </div>
        </section>
        {{/each}}
    </div>
</script>

<script type="text/x-handlebars-template" id="core-input-view-template">
    <div class="row-fluid form-input-label">
        <div class="span10">
            <label>{{label}}</label>
        </div>
        <div class="span2">
            <span class="pull-right" data-bind="visible: {{lockAttr}}, event: { click: function() { toggleLockAttr('{{name}}') }}">
                <i class="icon-pencil blue" data-bind="css: {'grey': locks().{{name}}_locked }"></i>
            </span>
        </div>
    </div>
    <div class="row-fluid form-element">
        {{#IfCompare type 'password' operator='==='}}
        <div class="input-append inset span12">
            <input type="{{type}}" name="{{id}}" class="span12 {{class}}" data-bind="{{#if disabled}}disable: {{disabled}}, {{/if}}{{#if lockAttr}}disable: locks().{{name}}_locked, {{/if}} value: {{dataBindValue}}, event: { focusout: function() { validateAttr('{{path}}', '{{validation}}') } }"/>
            <span class="add-on input-type-toggle-action"><i class="icon-eye-open"></i></span>
        </div>
        <span class="help-block red" data-bind="visible: errors().{{name}}_error, text: errors().{{name}}_error"></span>
        {{else}}
        <input type="{{type}}" name="{{id}}" class="{{class}}" data-bind="{{#if disabled}}disable: {{disabled}}, {{/if}}{{#if lockAttr}}disable: locks().{{name}}_locked, {{/if}} value: {{dataBindValue}}, event: { focusout: function() { validateAttr('{{path}}', '{{validation}}') } }"/>
        <span class="help-block red" data-bind="visible: errors().{{name}}_error, text: errors().{{name}}_error"></span>
        {{/IfCompare}}
    </div>
</script>

<script type="text/x-handlebars-template" id="core-checkbox-view-template">
    <div class="row-fluid form-checkbox-label">
        <div class="span10">
            <label>{{label}}</label>
        </div>
        <div class="span2">
            <span class="pull-right" data-bind="visible: {{lockAttr}}, event: { click: function() { toggleLockAttr('{{name}}') }}">
                <i class="icon-pencil blue" data-bind="css: {'grey': locks().{{name}}_locked }"></i>
            </span>
        </div>
    </div>
    <div class="row-fluid form-element">
        <input type="{{type}}" name="{{id}}" class="{{class}} ace-input" data-bind="{{#if disabled}}disable: {{disabled}}, {{/if}}{{#if lockAttr}}disable: locks().{{name}}_locked, {{/if}} checked: {{dataBindValue}},event: { focusout: function() { validateAttr('{{path}}', '{{validation}}') } }"/>
        <span class="ace-lbl"></span>
        <span class="help-block red" data-bind="visible: errors().{{name}}_error, text: errors().{{name}}_error"></span>
    </div>
</script>

<script type="text/x-handlebars-template" id="core-radio-button-view-template">
    <div class="row-fluid form-radio-button-label">
        <div class="span10">
            <label>{{label}}</label>
        </div>
        <div class="span2">
            <span class="pull-right" data-bind="visible: {{lockAttr}}, event: { click: function() { toggleLockAttr('{{name}}') }}">
                <i class="icon-pencil blue" data-bind="css: {'grey': locks().{{name}}_locked }"></i>
            </span>
        </div>
    </div>
    <div class="row-fluid form-element">
        {{#each elementConfig.dataObj}}
        <input type="radio" name="{{../id}}" value="{{value}}" class="{{../class}} ace-input"  data-bind="{{#if ../lockAttr}}disable: locks().{{name}}_locked, {{/if}} checked: {{../dataBindValue}},event: { focusout: function() { validateAttr('{{../path}}', '{{../validation}}') } }" />
        <span class="ace-lbl">{{label}}</span>
        {{/each}}
        <span class="help-block red" data-bind="visible: errors().{{name}}_error, text: errors().{{name}}_error"></span>
    </div>
</script>

<script type="text/x-handlebars-template" id="core-dropdown-view-template">
    <div class="row-fluid form-dropdown-label">
        <div class="span10">
            <label>{{label}}</label>
        </div>
        <div class="span2">
            <span class="pull-right" data-bind="visible: {{lockAttr}}, event: { click: function() { toggleLockAttr('{{name}}') }}">
                <i class="icon-pencil blue" data-bind="css: {'grey': locks().{{name}}_locked }"></i>
            </span>
        </div>
    </div>
    <div class="row-fluid">
        <input id="{{id}}" name="{{name}}" class="{{class}}" data-bind="{{#if disabled}}disable: {{disabled}}, {{/if}}{{#if lockAttr}}disable: locks().{{name}}_locked, {{/if}}value: {{dataBindValue}}, contrailDropdown: {{printJSON elementConfig}}"/>
        <span class="help-block red" data-bind="visible: errors().{{name}}_error, text: errors().{{name}}_error"></span>
    </div>
</script>

<script type="text/x-handlebars-template" id="core-select2-dropdown-view-template">
    <div class="row-fluid form-dropdown-label">
        <div class="span10">
            <label>{{label}}</label>
        </div>
        <div class="span2">
            <span class="pull-right" data-bind="visible: {{lockAttr}}, event: { click: function() { toggleLockAttr('{{name}}') }}">
                <i class="icon-pencil blue" data-bind="css: {'grey': locks().{{name}}_locked }"></i>
            </span>
        </div>
    </div>
    <div class="row-fluid">
        <select name="{{name}}" class="{{class}}"
                data-bind="
                    {{#if disabled}}disable: {{disabled}}, {{/if}}
                    {{#if lockAttr}}disable: locks().{{name}}_locked, {{/if}}
                    value: {{dataBindValue}},
                    options: {{elementConfig.data}},
                    optionsCaption: '{{elementConfig.placeholder}}',
                    select2: {}
                "></select>
    </div>
</script>

<script type="text/x-handlebars-template" id="core-multiselect-view-template">
    <div class="row-fluid form-multiselect-label">
        <div class="span10">
            <label>{{label}}</label>
        </div>
        <div class="span2">
            <span class="pull-right" data-bind="visible: {{lockAttr}}, event: { click: function() { toggleLockAttr('{{name}}') }}">
                <i class="icon-pencil blue" data-bind="css: {'grey': locks().{{name}}_locked }"></i>
            </span>
        </div>
    </div>
    <div class="row-fluid">
        <input id="{{id}}" name="{{name}}" class="{{class}}" data-bind="{{#if disabled}}disable: {{disabled}}, {{/if}}{{#if lockAttr}}disable: locks().{{name}}_locked, {{/if}}value: {{dataBindValue}}, contrailMultiselect: {{printJSON elementConfig}}"/>
        <span class="help-block red" data-bind="visible: errors().{{name}}_error, text: errors().{{name}}_error"></span>
    </div>
</script>

<script type="text/x-handlebars-template" id="core-actions-template">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-cog"></i>
    </a>
    <ul class="pull-right dropdown-menu dropdown-caret">
        {{#each actions}}
        <li>
            <a onclick="">
                <i class="{{this.iconClass}}"></i> &nbsp; {{this.label}}
            </a>
        </li>
        {{/each}}
    </ul>
</script>

<script type="text/x-handlebars-template" id="core-grid-2-row-group-detail-template">
    <div class="group-detail-container">
        {{#IfCompare advancedViewOptions false operator='!=' }}
        <div class="row-fluid group-detail-action">
            <a class="group-detail-action-item pull-right selected" title="Basic List View" data-view="basic-list"><i class="icon-list"></i></a>
            <a class="group-detail-action-item pull-right" title="Advanced JSON View" data-view="advanced-json"><i class="icon-code"></i></a>
        </div>
        {{/IfCompare}}
        <div class="row-fluid group-detail-basic-list group-detail-item">
            {{#each templateConfig}}
            <div class="span6">
                {{#each this}}
                <h6>{{title}}</h6>
                <ul class="item-list">
                    {{#each keys}}
                    {{#IfValidJSONValueByPath this ../../../dc @index}}
                    <li>
                        <label class="inline">
                            <span class="key"> {{getSMLabel this}} </span>
                            <span class="value">{{{getJSONValueByPath this ../../../../dc}}}</span>
                        </label>
                    </li>
                    {{/IfValidJSONValueByPath}}
                    {{/each}}
                </ul>
                <br>
                {{/each}}
            </div>
            {{/each}}
        </div>
        <div class="row-fluid group-detail-advanced-json group-detail-item hide">
            {{{formatGridJSON2HTML dc}}}
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="core-detail-page-template">
    <div id="{{prefix}}-header" class="row-fluid margin-0-0-15">
        <div class="row-fluid detail-header-row">
            <h4 class="margin-0-5 pull-left padding-5-0">{{prefixId}}</h4>
            <div id="{{prefix}}-actions" class="pull-right">
                <div class="dropdown pull-right margin-5-0">
                    <a class="dropdown-toggle margin-10 font-size-14" data-toggle="dropdown"><i class="icon-cog grey"></i></a>
                    <ul class="dropdown-menu dropdown-caret pull-right" role="menu" aria-labelledby="dLabel">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="{{prefix}}-details"></div>
    <div id="{{prefix}}-server-list"></div>
    <div id="{{prefix}}-ipmi-info"></div>
</script>

<script type="text/x-handlebars-template" id="core-detail-page-action-template">
    {{#IfCompare divider true operator='=='}}
    <li class="divider"></li>
    {{/IfCompare}}
    <li>
        <a class="tooltip-success" data-rel="tooltip" data-placement="left" data-original-title={{title}}">
            <i class="{{iconClass}} margin-right-10"></i> {{title}}
        </a>
    </li>
</script>

<script type="text/x-handlebars-template" id="core-editable-grid-view-template">
    <table class="contrail-editable-grid-table">
        <thead>
        <tr>
            {{#each columns}}
            <th class="{{this.class}}" data-bind="style: {width: '{{width}}px' }">{{this.name}}</th>
            {{/each}}
        </tr>
        </thead>
        <tbody data-bind="foreach: {{collection}}">
        <tr class="data-row">
            {{#each columns}}
            <td id="{{elementId}}" class="data-cell"></td>
            {{/each}}
            {{#each rowActions}}
            <td class="action-cell"><a href='#' data-bind='click: {{this.onClick}}'><i class="{{this.iconClass}}"></i></a></td>
            {{/each}}
        </tr>
        <tr class="error-row">
            {{#each columns}}
            <td class="error-cell"><span class="help-block red" data-bind="visible: model().attributes.errors().{{elementId}}_error, text: model().attributes.errors().{{elementId}}_error"></span></td>
            {{/each}}
        </tr>
        </tbody>
    </table>
    {{#each gridActions}}
    <div class="row-fluid margin-10-0-0">
        <a class="editable-grid-add-link" data-bind='click: {{this.onClick}}'><i class="icon-plus"></i> &nbsp;{{this.buttonTitle}}</a>
    </div>
    {{/each}}
</script>

<script type="text/x-handlebars-template" id="core-grid-input-view-template">
    <input type="{{type}}" name="{{name}}" class="{{class}}" data-bind="value: {{dataBindValue}}, event: { focusout: function() { validateAttr()('{{path}}', '{{validation}}', $data)} }"  />
</script>

<script type="text/x-handlebars-template" id="core-grid-checkbox-view-template">
    <input type="{{type}}" name="{{name}}" class="{{class}} ace-input" data-bind="checked: {{dataBindValue}}"/> <span class="ace-lbl" />
</script>

<script type="text/x-handlebars-template" id="core-grid-dropdown-view-template">
    <select name="{{name}}" class="{{class}}"
            data-bind="
                style: {width: '{{width}}px' },
                options: {{elementConfig.data}},
                value: {{dataBindValue}},
                optionsCaption: '{{elementConfig.placeholder}}',
                select2: {}
            "></select>
</script>

<script type="text/x-handlebars-template" id="core-grid-multiselect-view-template">
    <select multiple name="{{name}}" class="{{class}}" data-bind="style: {width: '{{width}}px' }, options: {{elementConfig.data}}, selectedOptions: {{dataBindValue}}, select2: { placeholder: '{{elementConfig.placeholder}}' }"></select>
</script>

<script type="text/x-handlebars-template" id="core-detail-foundation-template">
    <div class="row-fluid detail-foundation-container group-detail-container">
        <div class="row-fluid detail-foundation-action">
        {{#each actions}}
            {{#IfCompare type 'link' operator='==' }}
                <a class="detail-foundation-action-item group-detail-action-item pull-right" title="{{title}}"><i class="{{iconClass}}"></i></a>
            {{/IfCompare}}
            {{#IfCompare type 'dropdown' operator='==' }}
                <div class="dropdown" data-title="{{title}}">
                    <a class="detail-foundation-action-item group-detail-action-item pull-right dropdown-toggle" data-toggle="dropdown" href="#" title="{{title}}">
                        <i class="{{iconClass}}"></i>
                    </a>
                    <ul class="pull-right dropdown-menu dropdown-caret group-detail-action-item-dropdown-menu">
                        {{#each optionList}}
                            {{#IfCompare divider true operator='=='}}
                                <li class="divider"></li>
                            {{/IfCompare}}
                            <li>
                                <a data-title="{{title}}">
                                    <i class="{{iconClass}}"></i> &nbsp; {{title}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/IfCompare}}
        {{/each}}
        {{#IfCompare advancedViewOptions false operator='!=' }}
            <a class="detail-foundation-action-item group-detail-action-item group-detail-advanced-action-item pull-right selected" title="Basic List View" data-view="basic-list">
                <i class="icon-list"></i>
            </a>
            <a class="detail-foundation-action-item group-detail-action-item group-detail-advanced-action-item pull-right" title="Advanced JSON View" data-view="advanced-json">
                <i class="icon-code"></i>
            </a>
        {{/IfCompare}}
        </div>
        <div class="row-fluid detail-foundation-content-basic group-detail-basic-list group-detail-item"></div>
        <div class="row-fluid detail-foundation-content-advanced group-detail-advanced-json group-detail-item hide"></div>
    </div>
</script>

<script type="text/x-handlebars-template" id="core-detail-section-template">
    <div class="row-fluid detail-section-content"></div>
</script>

<script type="text/x-handlebars-template" id="core-detail-section-column-template">
    <div class="{{class}} detail-section-column-content"></div>
</script>

<script type="text/x-handlebars-template" id="core-detail-section-row-template">
    <div class="row-fluid detail-section-row-content"></div>
</script>

<script type="text/x-handlebars-template" id="core-2-row-content-template">
    <div id="top-content-container" class="row-fluid margin-0-0-5"></div>
    <div id="bottom-content-container" class="row-fluid margin-0-0-5"></div>
</script>

<script type="text/x-handlebars-template" id="core-loading-spinner-template">
    <div class="loading-spinner"><i class="icon-refresh icon-spin"></i></div>
</script>

<script type="text/x-handlebars-template" id="core-tabs-template">
    <div id="contrail-tabs" class="row-fluid graph-tabs">
        <ul>
            {{#each this}}
                <li><a id="{{this.elementId}}-tab-link" class="contrail-tab-link" href="#{{this.elementId}}-tab">{{this.title}}</a></li>
            {{/each}}
        </ul>
        {{#each this}}
            <div id="{{this.elementId}}-tab">
                <div id="{{this.elementId}}" class="contrail-tab-content {{this.viewConfig.class}}"></div>
            </div>
        {{/each}}
    </div>
</script>

<script type="text/x-handlebars-template" id="core-chart-template">
    <div class="row-fluid">
        {{#each this.elementConfg}}
            <div id="charts-box" class="{{#getValue "{\"1\":\"span12\",\"2\":\"span6\",\"3\":\"span4\"}" ../colCount}}{{/getValue}} widget-box transparent">
                <div class="widget-header">
                    <h4 class="smaller">
                        <i id="charts-loading" class="icon-spinner icon-spin blue bigger-125"></i> {{title}}
                    </h4>
                    <div class="widget-toolbar pull-right">
                        <a data-action="collapse">
                            <i class="icon-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main" style="height:300px;">
                        {{#IfCompare @index 1 operator='%2'}}
                            <div class="stack-chart negate" id="{{../../id}}_{{@index}}"></div>
                        {{else}}
                            <div class="stack-chart" id="{{../../id}}_{{@index}}"></div>
                        {{/IfCompare}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</script>

<script type="text/x-handlebars-template" id="core-not-found-message-template">
    <div class="row-fluid content-container-not-found">
        <div class="row-fluid">
            <h4>{{title}}</h4>
        </div>
        {{#if iconClass}}
            <div class="row-fluid">
                <h2 class="not-found-icon"><i class="{{iconClass}}"></i></h2>
            </div>
        {{/if}}
        <div class="row-fluid not-found-text">
            {{#if errorMessage}}
                <h6 >{{errorMessage}}</h6>
            {{/if}}
            {{#IfCompare defaultErrorMessage false operator='!='}}
                <h6>The link you followed may be broken, or there must be some change in the configuration for this page.</h6>
            {{/IfCompare}}
            <h6>
                {{#IfCompare defaultNavLinks false operator='!='}}
                    <a class="not-found-nav-link" href="/">Go to the Contrail Homepage</a> |
                    <a onclick="history.back();" >Go back to the previous page</a>
                {{/IfCompare}}
                {{#each navLinks}}
                    | <a href="{{href}}">{{text}}</a>
                {{/each}}
            </h6>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="core-control-panel-template">
    <div id="control-panel-items" class="control-panel-items pull-right">
        {{#IfCompare default.zoom.enabled true}}
            <div class="control-panel-item zoom-in" title="Zoom In"><i class="icon-zoom-in"></i></div>
            <div class="control-panel-item zoom-out" title="Zoom Out"><i class="icon-zoom-out"></i></div>
            <div class="control-panel-item zoom-reset" title="Zoom Reset"><i class="icon-remove-circle"></i></div>
        {{/IfCompare}}
        {{#each custom}}
            <div class="control-panel-item {{@key}}" title="{{title}}"><i class="{{iconClass}}"></i></div>
        {{/each}}
    </div>
</script>

<script type="text/x-handlebars-template" id="core-zoomed-scatter-chart-template">
    <div class="zoom-scatter-chart-container colmask rightmenu">
        <div class="colleft">
            <div class="col1wrap">
                <div class="col1 chart-container">
                </div>
            </div>
            <div class="col2 chart-control-panel-container">
            </div>
            <div class="chart-control-panel-expanded-container hide"></div>
        </div>
    </div>

</script>

<script type="text/x-handlebars-template" id="core-zoomed-scatter-chart-control-panel-filter-template">
    <div class="control-panel-filter-container row-fluid">
        <div class="row-fluid">
            <p class="control-panel-filter-title">
                <span class="pull-left control-panel-filter-title-icon"><i class="icon-filter"></i></span>
                <span class="pull-left control-panel-filter-title-text">Filter</span>
                <span class="pull-right control-panel-filter-close"><i class="icon-remove"></i></span>
            </p>
        </div>
        <div class="row-fluid control-panel-filter-body">
            {{#each groups}}
            <div class="control-panel-filter-group margin-10">
                {{#IfCompare title false operator='!='}}
                    <h6 class="control-panel-group-filter-title">{{title}}</h6>
                {{/IfCompare}}
                <div id="control-panel-filter-group-items-{{id}}" class="row-fluid control-panel-filter-group-items padding-5-0;">

                {{#IfCompare type 'checkbox-circle' operator='=='}}
                    {{#each items}}
                        <div class="control-panel-filter-group-item padding-5-0">
                            <input type="checkbox" name="control-panel-filter" class="ace-input checkbox-circle" checked/>
                            <span class="ace-lbl checkbox-circle {{labelCssClass}}"> {{text}}</span>
                        </div>
                    {{/each}}
                {{/IfCompare}}

                </div>
            </div>
            {{/each}}
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="core-zoomed-scatter-chart-control-panel-legend-template">
    <div class="control-panel-legend-container row-fluid">
        <div class="row-fluid">
            <p class="control-panel-legend-title">
                <span class="pull-left control-panel-legend-title-icon"><i class="icon-info-sign"></i></span>
                <span class="pull-left control-panel-legend-title-text">Information</span>
                <span class="pull-right control-panel-legend-close"><i class="icon-remove"></i></span>
            </p>
        </div>
        <div class="row-fluid control-panel-legend-body">
            {{#each groups}}
            <div class="control-panel-legend-group padding-10">
                <h6 class="control-panel-group-legend-title">{{title}}</h6>
                <div id="control-panel-legend-group-items-{{id}}" class="row-fluid control-panel-legend-group-items padding-5-0;">

                {{#each items}}
                    <div class="control-panel-legend-group-item padding-5-0">
                        <i class="{{labelCssClass}}"></i> &nbsp;{{text}}
                    </div>
                {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="core-widget-box-template">
    <div id="{{elementId}}" class="widget-box transparent">
        <div class="widget-header">
            <h4 class="smaller">{{title}}</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main padding-4">
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="core-generic-edit-form-template">
    <div class="alert alert-error" data-bind="visible: errors().{{prefixId}}_form_error">
        <strong>Error: </strong>
        <span data-bind="text: errors().{{prefixId}}_form_error"></span>
    </div>
    <form name="{{prefixId}}Form" id="{{modalId}}-form" onsubmit="return false;" class="">
    </form>
</script>

<script type="text/x-handlebars-template" id="core-generic-delete-form-template">
    <div class="alert alert-error" data-bind="visible: errors().{{elementId}}_error">
        <button type="button" class="close" data-dismiss="alert"></button>
        <strong>Error: </strong>
        <span data-bind="text: errors().{{elementId}}_error"></span>
    </div>
    <div>Are you sure you want to delete {{item}} <b>{{itemId}}</b>?</div>
</script>

