<!DOCTYPE html>
<!--
 Copyright (c) 2014 Juniper Networks, Inc. All rights reserved.
-->
<html lang="en">
<head>
    <meta charset="utf-8" content="">
    <title id="tabTitle"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contrail Systems">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/sdn-favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/sdn-favicon.ico" type="image/x-icon">

    <!-- Start dev_env
    <link rel="stylesheet" href="/css/contrail-all.css?built_at="/>
    End dev_env -->

    <!-- Start prod_env -->
    <link rel="stylesheet" href="/css/contrail-all.css?built_at="/>
    <!-- End prod_env -->

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/contrail-ie.min.css?built_at="/>
    <![endif]-->

    <!--[if IE 7]>
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome-ie7.min.css?built_at="/>
    <![endif]-->

    <script src="/assets/requirejs/require.js"></script>
    <script src="/js/common/core.app.utils.js"></script>
    <script type="text/javascript">
        var hostname = window.location.hostname;
        document.getElementById('tabTitle').innerHTML = hostname.substring(0,15)+'... | Contrail';
    </script>
</head>

<body class="navbar-fixed">
<div id="pageHeader" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a href="#" class="brand">
                <img class="logo" src="/img/sdn-logo.png"/>
            </a>
            <ul style="width:280px" class="nav ace-nav pull-right">
                <li id="user-profile" class="hide">
                    <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                        <i class="icon-user icon-only icon-2"></i>
                        <span id="user_info"></span>
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="pull-right dropdown-menu dropdown-caret dropdown-closer" id="user_menu">
                        <li>
                            <a href="logout">
                                <i class="icon-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
                <li onclick="cowu.loadAlertsPopup();">
                    <a href="javascript:void(0);">
                        <i class="icon-bell-alt icon-only icon-2"></i>
                        <span id="alert_info">Alarms</span>
                        <!-- <i class="icon-caret-down"></i> -->
                    </a>

                </li>
            </ul>
            <div id="nav-search">
                <form id="search-form" onsubmit="searchSiteMap();">
                    <span class="input-icon">
                        <input type="text" placeholder="Search Sitemap" class="input-small search-query" id="nav-search-input" autocomplete="off">
                        <i class="icon-search" id="nav-search-icon"></i>
                    </span>
                </form>
            </div>
        </div>
        <!--/.container-fluid-->
    </div>
    <!--/.navbar-inner-->
</div>
<!-- /.navbar #header -->

<div class="container-fluid" id="main-container">
    <a id="menu-toggler" href="#">
        <span></span>
    </a>

    <div id="sidebar">
        <div id="sidebar-shortcuts">

        </div>  <!--#sidebar-shortcuts-->
        <ul id="menu" class="nav nav-list"></ul>
    </div> <!-- #sidebar -->

    <div id="main-content" class="clearfix">
        <div id="breadcrumbs" class="fixed">
            <ul id="breadcrumb" class="breadcrumb">
            </ul> <!--.breadcrumb-->
            <div class="hardrefresh breadcrumb" style="display:none">
                <span> <i class="icon-time" style="cursor:default"></i></span><span data-bind="text:timeObj.timeStr"></span>
                <span class="loading"><i class="icon-spinner icon-spin"></i></span>
                <span class="refresh" title="refresh" style="color: #3182bd;cursor:pointer">Refresh</i></span>
            </div>
        </div>
        <div id="page-content" class="clearfix">
            <div id='content-container'></div>
        </div>
    </div> <!-- /.main-content -->
</div> <!-- /.container-fluid #main-container -->
<a href="#" id="back-to-top"><i class="icon-double-angle-up icon-only bigger-110"></i>​&nbsp; Back to Top</a>

<!--[if lte IE 8]>
<script src="/js/"></script>
<![endif]-->
<script type="text/javascript">
    var built_at="";
</script>
<!-- Start dev_env
<script data-env="dev" src="/js/common/core.app.js"></script>
End dev_env -->
<!-- Start prod_env -->
<script data-env="prod" src="/js/common/core.app.js"></script>
<!-- End prod_env -->
</body>
</html>
